body{
	background-color: #fff;
}

#main-container{
	margin-top: 20px;
	padding: 30px;
}

#form-holder{
	margin-top: 20px;
	padding: 30px;
	display: none;
}

#table{
	display: none;
}

main{
	min-height:500px;
}

nav{
	background-color: #000000;
	color: #fff;
	height: 80px;
	padding: 10px;
}

#list-holder{
	min-height: 400px;
	padding:10px;
}

#button{
	margin: 10px;
}

input{
	width: 400px !important;
}

footer{
	background-color: #000000;
	color: #fff;
	padding: 5px;
}