body{
	background-color: #fff;
}

main{
	min-height:589px;
}

nav{
	background-color: #000000;
	color: #fff;
	height: 80px;
	padding: 10px;
}

#list-holder{
	min-height: 400px;
	padding:10px;
}

#button{
	margin: 10px;
}

input{
	width: 400px !important;
}

footer{
	background-color: #000000;
	color: #fff;
	padding: 5px;
}
